/****************************************
 * Write your code in the sections below!
 ****************************************/

/* header styles */
html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
    display: flex;
    max-width: 880px;
    width: 100%;
    margin: 12px auto 0;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline-block;
    margin: 0 4px;
}

.logo-container {
  margin: auto;
}

.logo-container img {
  height: 50px;
}

.icons-container {
  margin: auto;
}

.icons-container a {
  padding: 5px;
}

nav {
  margin: auto;
}

/* banner styles */

.about-banner-part {
  max-width: 1122px;
  margin: auto;
}

.banner {
  margin: auto;
}

.banner img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.banner-home {
  width: 1122px;
}

.banner-home img {
display: block;
  margin: auto;
}

.h1-about {
  height: 120px;
  display: flex;
  justify-content: center;
}

.h1-about h1 {
  max-width: 560px;
  width: 100%;
  margin:auto;
}

.p-about p {
  max-width: 650px;
  margin: auto;
  padding: 60px;
}

.p-about h2 {
  max-width: 650px;
  margin: auto;
  padding: 60px;
}

/* main content styles */

.image-text-container {
  width: 100%;
  display: flex;
}

.text-container {
  margin : auto;
}

.image-home {
  width: 400px;
}

/* table styles */

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #222324;
}

table td {
    border-bottom: 1px solid #222324;
    padding:5px;
}

/* footer styles */

footer {
  height: 120px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

footer p {
  width: 100%;
  margin:auto;
}
